.container{
    padding: 2rem 2rem !important;
}

.custom-nav-config{
    background-color: rgba(0, 0, 0, 0.5) !important; 
    width: 100%;
    z-index: 100;
}

.custom-menu{
    min-width: 9rem !important;
    margin: 0.55rem 0 0 !important;
    padding: 0 !important;
    
}

.dropdown-item{
    padding: 0.5rem 1rem;
}

.red{
    color: red !important;
}

hr{
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
}

.edit-btn{
    border:none; 
    background-color: white; 
    color: #3bb8db;
}

.edit-btn:hover{
    color: #1d98b6;
}

.config-btn{
    margin: 0 5px;
    padding: 5px 25px;
}

.cancel-btn{
    background-color: #c4c4c4;
    border: 2px solid #c4c4c4;
    padding: 5px 30px;
}

.cancel-btn:hover{
    background-color: #9c9797;
}