.container{
    padding: 2rem 2rem !important;
}

.custom-nav-config{
    background-color: rgba(0, 0, 0, 0.5) !important; 
    width: 100%;
    z-index: 100;
}

.custom-menu{
    min-width: 9rem !important;
    margin: 0.55rem 0 0 !important;
    padding: 0 !important;
    
}

.dropdown-item{
    padding: 0.5rem 1rem;
}

